.auditoria-container {
    margin: 30px auto;
    max-width: 90%;
}

.auditoria-title {
    color: #000000;
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.auditoria-table {
    background-color: #fdfdfd;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.auditoria-th, .auditoria-td {
    vertical-align: middle;
    text-align: center;
}

.auditoria-thead {
    background-color: #007bff;
    color: white;
}

.auditoria-tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.auditoria-tr:hover {
    background-color: #e2e6ea;
    transform: translateX(10px);
    transition: all 0.2s ease-in-out;
}

.auditoria-th {
    font-weight: bold;
    font-size: 1.1rem;
    padding: 15px;
}

.auditoria-td {
    padding: 10px;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
}
